
header .intro-text .intro-heading-custom {
  text-transform: capitalize;
}

.degree > a {
  color: black;
}

.degree > a:hover {
  text-decoration: none;
}

li.timeline, li.timeline-inverted {
  display: flex;
  align-items: center;
}

li.timeline-inverted {
  flex-direction: row-reverse;
}
